/.idea/
/abstract/target/
/abstract/.flattened-pom.xml
/abstract/abstract.iml
/abstract/custom-ore-generator-impl-abstract.iml
/api/target/
/api/.flattened-pom.xml
/api/custom-ore-generator-api.iml
/custom-ore-generator/target/
/custom-ore-generator/.flattened-pom.xml
/custom-ore-generator/custom-ore-generator.iml
/impl/v1_8_R1/target/
/impl/v1_8_R1/.flattened-pom.xml
/impl/v1_8_R1/custom-ore-generator-impl-v1_8_R1.iml
/impl/v1_8_R2/target/
/impl/v1_8_R2/.flattened-pom.xml
/impl/v1_8_R2/custom-ore-generator-impl-v1_8_R2.iml
/impl/v1_8_R3/target/
/impl/v1_8_R3/.flattened-pom.xml
/impl/v1_8_R3/custom-ore-generator-impl-v1_8_R3.iml
/impl/v1_9_R1/target/
/impl/v1_9_R1/.flattened-pom.xml
/impl/v1_9_R1/custom-ore-generator-impl-v1_9_R1.iml
/impl/v1_9_R2/target/
/impl/v1_9_R2/.flattened-pom.xml
/impl/v1_9_R2/custom-ore-generator-impl-v1_9_R2.iml
/impl/v1_10_R1/target/
/impl/v1_10_R1/.flattened-pom.xml
/impl/v1_10_R1/custom-ore-generator-impl-v1_10_R1.iml
/impl/v1_11_R1/target/
/impl/v1_11_R1/.flattened-pom.xml
/impl/v1_11_R1/custom-ore-generator-impl-v1_11_R1.iml
/impl/v1_12_R1/target/
/impl/v1_12_R1/.flattened-pom.xml
/impl/v1_12_R1/custom-ore-generator-impl-v1_12_R1.iml
/impl/v1_13_R1/target/
/impl/v1_13_R1/.flattened-pom.xml
/impl/v1_13_R1/custom-ore-generator-impl-v1_13_R1.iml
/impl/v1_13_R2/target/
/impl/v1_13_R2/.flattened-pom.xml
/impl/v1_13_R2/custom-ore-generator-impl-v1_13_R2.iml
/impl/v1_13_R2-paper/lib/
/impl/v1_13_R2-paper/target/
/impl/v1_13_R2-paper/.flattened-pom.xml
/impl/v1_13_R2-paper/custom-ore-generator-impl-v1_13_R2-paper.iml
/impl/v1_14_R1/target/
/impl/v1_14_R1/.flattened-pom.xml
/impl/v1_14_R1/custom-ore-generator-impl-v1_14_R1.iml
/impl/v1_15_R1/target/
/impl/v1_15_R1/.flattened-pom.xml
/impl/v1_15_R1/custom-ore-generator-impl-v1_15_R1.iml
/impl/v1_16_R1/target/
/impl/v1_16_R1/.flattened-pom.xml
/impl/v1_16_R1/custom-ore-generator-impl-v1_16_R1.iml
/impl/v1_16_R2/target/
/impl/v1_16_R2/.flattened-pom.xml
/impl/v1_16_R2/custom-ore-generator-impl-v1_16_R2.iml
/impl/v1_16_R3/target/
/impl/v1_16_R3/.flattened-pom.xml
/impl/v1_16_R3/custom-ore-generator-impl-v1_16_R3.iml
/impl/v1_17_R1/target/
/impl/v1_17_R1/.flattened-pom.xml
/impl/v1_17_R1/custom-ore-generator-impl-v1_17_R1.iml
/impl/v1_18_R1/target/
/impl/v1_18_R1/.flattened-pom.xml
/impl/v1_18_R1/custom-ore-generator-impl-v1_18_R1.iml
/impl/v1_18_R2/target/
/impl/v1_18_R2/.flattened-pom.xml
/impl/v1_18_R2/custom-ore-generator-impl-v1_18_R2.iml
/impl/v1_19_R1/target/
/impl/v1_19_R1/.flattened-pom.xml
/impl/v1_19_R1/custom-ore-generator-impl-v1_19_R1.iml
/impl/v1_19_R2/target/
/impl/v1_19_R2/.flattened-pom.xml
/impl/v1_19_R2/custom-ore-generator-impl-v1_19_R2.iml
/impl/v1_19_R3/target/
/impl/v1_19_R3/.flattened-pom.xml
/impl/v1_19_R3/custom-ore-generator-impl-v1_19_R3.iml
/impl/v1_20_R1/target/
/impl/v1_20_R1/.flattened-pom.xml
/impl/v1_20_R1/custom-ore-generator-impl-v1_20_R1.iml
/impl/yaml/target/
/impl/yaml/.flattened-pom.xml
/impl/yaml/custom-ore-generator-impl-yaml.iml
/impl/.flattened-pom.xml
/impl/custom-ore-generator-impl.iml
/.flattened-pom.xml
/custom-ore-generator-parent.iml